body {
  background-image: url("/assets/background.png");
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

#header {
  margin-top: 80px;
  text-align: center;

  .avatar,
  .logo {
    margin: 0 auto;
  }

  .avatar {
    width: 125px;
    img {
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .04);
      border-radius: 15px;
    }
  }

  .logo {
    margin-top:10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 36px;
  }

  .social {
    margin-top: 15px;
    font-size: 28px;

    a {
      color: #636363;

      margin: 0 10px;

      transition: color 0.25s ease;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.post {
  max-width: 700px;
  margin: 0 auto;

  .title {
    font-family: 'Cedarville Cursive', cursive;
    a {
      color: black;
    }
  }

  .social {
    text-align: right;
    margin-top: -36px;
    margin-bottom: 10px;
  }

  .post-body {
    background-color: white;
    box-shadow:2px 2px 5px 2px rgba(0,0,0,0.04);
    padding-bottom: 15px;
    margin-bottom: 30px;

    .html-block {
      padding: 10px 50px 30px;
    }
  }

  p, ul, ol {
    margin: 10px 25px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

main {
  margin-top: 60px;
}

#main-navigation {
  display: none;
}