body {
  background-image: url("/images/background.png");
}

#header {
  margin-top: 80px;
  text-align: center;

  .avatar,
  .logo {
    margin: 0 auto;
  }

  .avatar {
    width: 125px;
    img {
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .04);
      border-radius: 15px;
    }
  }

  .logo {
    margin-top: 20px;
  }

  .social {
    margin-top: 15px;
    font-size: 28px;

    a {
      color: #636363;

      margin: 0 10px;

      transition: color 0.25s ease;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
}